ul {
	display: flex;
	flex-direction: row;
	padding: 0;
}

li {
	list-style-type: none;
	padding: 0 10px;
}

.container {
	width: 100%;
	color: #4a90e2;
	font-size: 18px;
}

.navContainer {
	composes: flexContainer from 'sharedStyles/styles.css';
	margin: 0 auto;
	max-width: 1100px;
}

.link {
	text-decoration: none;
	color: inherit;
}