.largeHeader {
	composes: largeHeader from 'sharedStyles/styles.css';
}

.centeredContainer {
	composes: centeredContainer from 'sharedStyles/styles.css';
}

.errorMsg {
	composes: errorMsg from 'sharedStyles/styles.css';
}
